.home {
  background: url(/images/bg.svg) no-repeat;
  background-size: cover;
  height: 680px;
  padding-bottom: 500px;
}

#nav {
  border-bottom: none;
}

#left {
  position: absolute;
  top: 40%;
  z-index: 1;
  width: 200px;
}

#right {
  position: absolute;
  top: 20%;
  left: 90%;
  width: 200px;
  z-index: 1;
}

.center {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width:60%;
}